<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=100, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  * {
    box-sizing: border-box;
  }

  body {
    background-color: red;
  }

  #message {
    padding: 0;
    padding-left: 20px;
    width: 512px;
  }

  .message {
    max-width: 100%;
    margin: auto;
    background-color: white;
    word-wrap: break-word;
    padding: 15px 25px 15px 25px;
    font-size: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;
    border-radius: 35px 35px 35px 0;
    position: relative;
  }

  .message__author {
    font-weight: 600;
  }

  .message::before {
    content: "";
    background: white;
    width: 60px;
    height: 60px;
    position: absolute;
    clip-path: polygon(0% 100%, 4% 100%, 13% 99%, 19% 98%, 26% 97%, 32% 95%, 38% 92%, 45% 88%, 52% 83%, 60% 78%, 66% 73%, 71% 68%, 19% 41%, 19% 51%, 19% 61%, 19% 71%, 17% 80%, 14% 86%, 8% 93%, 1% 98%);
    left: -11px;
    bottom: 0;
  }

  .message__time {
    font-size: 0.8em;
    font-weight: 300;
    color: #909090;
    float: right;
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
  }

  .message__text {
    max-height: 400px;
    overflow: hidden;
  }
</style>

<body>
<div id="message">
  <div class="message">
    <div class="message__author" style="color: {{color}}">
      {{messageAuthor.first_name}}
      {{messageAuthor.last_name}}
    </div>
    <div class="message__text">
      {{text}}
      <div class="message__time">
        {{time}}
      </div>
    </div>
  </div>
</div>
</body>

</html>
